# Task 14: Data cleaning and preprocessing with Pandas

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [66]:
import pandas as pd

In [6]:
df = pd.read_csv('/content/drive/MyDrive/Titanic_Data.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,c,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C
418,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
419,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
420,1020,0,2,"Bowenur, Mr. Solomon",male,42.0,0,0,211535,13.0000,NaN,S

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421 entries, 0 to 420
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  421 non-null    object
 1   Survived     421 non-null    int64
 2   Pclass       421 non-null    int64
 3   Name         421 non-null    object
 4   Sex          421 non-null    object
 5   Age          335 non-null    float64
 6   SibSp        421 non-null    int64
 7   Parch        421 non-null    int64
 8   Ticket       421 non-null    object
 9   Fare         420 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     421 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 39.6+ KB

#### Identify missing values in the DataFrame.

In [8]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          330
Embarked         0
dtype: int64

#### Drop rows with any missing values.

In [9]:
df_dropna_rows = df.dropna()
df_dropna_rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
24,916,1,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
26,918,1,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
28,920,0,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
...,...,...,...,...,...,...,...,...,...,...,...,...
404,1296,0,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,0,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
407,1299,0,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
411,1303,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C

#### Drop columns with any missing values.

In [10]:
df_dropna_cols = df.dropna(axis=1)
df_dropna_cols

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Embarked
0,892,0,3,"Kelly, Mr. James",male,0,0,330911,Q
1,c,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,1,0,363272,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,0,0,240276,Q
3,895,0,3,"Wirz, Mr. Albert",male,0,0,315154,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,1,1,3101298,S
...,...,...,...,...,...,...,...,...,...
416,1308,0,3,"Ware, Mr. Frederick",male,0,0,359309,S
417,1309,0,3,"Peter, Master. Michael J",male,1,1,2668,C
418,895,0,3,"Wirz, Mr. Albert",male,0,0,315154,S
419,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,0,0,347086,S
420,1020,0,2,"Bowenur, Mr. Solomon",male,0,0,211535,S

#### Fill missing values with a specific value.

In [11]:
df_filled = df.fillna(0)
df_filled

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,0,Q
1,c,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,0,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,0,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,0,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,0,S
...,...,...,...,...,...,...,...,...,...,...,...,...
416,1308,0,3,"Ware, Mr. Frederick",male,0.0,0,0,359309,8.0500,0,S
417,1309,0,3,"Peter, Master. Michael J",male,0.0,1,1,2668,22.3583,0,C
418,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,0,S
419,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,0,S
420,1020,0,2,"Bowenur, Mr. Solomon",male,42.0,0,0,211535,13.0000,0,S

In [12]:
df_filled.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

#### Fill missing values using forward fill and backward fill methods.

In [13]:
df_ffill = df.fillna(method='ffill')
df_ffill

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,c,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
416,1308,0,3,"Ware, Mr. Frederick",male,38.5,0,0,359309,8.0500,C105,S
417,1309,0,3,"Peter, Master. Michael J",male,38.5,1,1,2668,22.3583,C105,C
418,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,C105,S
419,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,C105,S
420,1020,0,2,"Bowenur, Mr. Solomon",male,42.0,0,0,211535,13.0000,C105,S

In [14]:
df_bfill = df.fillna(method='bfill')
df_bfill

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,B45,Q
1,c,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,B45,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,B45,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,B45,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,B45,S
...,...,...,...,...,...,...,...,...,...,...,...,...
416,1308,0,3,"Ware, Mr. Frederick",male,27.0,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,27.0,1,1,2668,22.3583,NaN,C
418,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
419,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
420,1020,0,2,"Bowenur, Mr. Solomon",male,42.0,0,0,211535,13.0000,NaN,S

#### Interpolate missing values.

In [15]:
df_interpolated = df.interpolate()
df_interpolated

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.500000,0,0,330911,7.8292,NaN,Q
1,c,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.000000,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.000000,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.000000,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.000000,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
416,1308,0,3,"Ware, Mr. Frederick",male,34.666667,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,30.833333,1,1,2668,22.3583,NaN,C
418,895,0,3,"Wirz, Mr. Albert",male,27.000000,0,0,315154,8.6625,NaN,S
419,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.000000,0,0,347086,7.7750,NaN,S
420,1020,0,2,"Bowenur, Mr. Solomon",male,42.000000,0,0,211535,13.0000,NaN,S

#### Convert a column to a different data type.

In [16]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Age'] = df['Age'].astype(int)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421 entries, 0 to 420
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  421 non-null    object
 1   Survived     421 non-null    int64
 2   Pclass       421 non-null    int64
 3   Name         421 non-null    object
 4   Sex          421 non-null    object
 5   Age          421 non-null    int64
 6   SibSp        421 non-null    int64
 7   Parch        421 non-null    int64
 8   Ticket       421 non-null    object
 9   Fare         420 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     421 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 39.6+ KB

#### Apply a function to transform the values of a column.

In [29]:
def convert_gender(gender):
    if gender.lower() == 'male':
        return 'm'
    elif gender.lower() == 'female':
        return 'f'
    return gender

In [31]:
df['Sex'] = df['Sex'].apply(convert_gender)

#### Normalize a column using Min-Max scaling.

In [32]:
df['Fare_normalized'] = (df['Fare'] - df['Fare'].min()) / (df['Fare'].max() - df['Fare'].min())
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_normalized,Fare_scaled,cabin_section,synthetic_date,year,month,day
0,892,0,3,"Kelly, Mr. James",m,34,0,0,330911,7.8292,NaN,Q,0.015282,-0.494792,NaN,2024-01-01,2024,1,1
1,c,1,3,"Wilkes, Mrs. James (Ellen Needs)",F,47,1,0,363272,7.0000,NaN,S,0.013663,-0.509664,NaN,2024-01-01,2024,1,1
2,894,0,2,"Myles, Mr. Thomas Francis",m,62,0,0,240276,9.6875,NaN,Q,0.018909,-0.461463,NaN,2024-01-01,2024,1,1
3,895,0,3,"Wirz, Mr. Albert",m,27,0,0,315154,8.6625,NaN,S,0.016908,-0.479847,NaN,2024-01-01,2024,1,1
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",F,22,1,1,3101298,12.2875,NaN,S,0.023984,-0.414832,NaN,2024-01-01,2024,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,1308,0,3,"Ware, Mr. Frederick",m,30,0,0,359309,8.0500,NaN,S,0.015713,-0.490832,NaN,2024-01-01,2024,1,1
417,1309,0,3,"Peter, Master. Michael J",m,30,1,1,2668,22.3583,NaN,C,0.043640,-0.234212,NaN,2024-01-01,2024,1,1
418,895,0,3,"Wirz, Mr. Albert",m,27,0,0,315154,8.6625,NaN,S,0.016908,-0.479847,NaN,2024-01-01,2024,1,1
419,1304,1,3,"Henriksson, Miss. Jenny Lovisa",F,28,0,0,347086,7.7750,NaN,S,0.015176,-0.495764,NaN,2024-01-01,2024,1,1
420,1020,0,2,"Bowenur, Mr. Solomon",m,42,0,0,211535,13.0000,NaN,S,0.025374,-0.402054,NaN,2024-01-01,2024,1,1

#### Standardize a column (z-score normalization).

In [33]:
df['Fare_scaled'] = (df['Fare'] - df['Fare'].mean()) / df['Fare'].std()
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_normalized,Fare_scaled,cabin_section,synthetic_date,year,month,day
0,892,0,3,"Kelly, Mr. James",m,34,0,0,330911,7.8292,NaN,Q,0.015282,-0.494792,NaN,2024-01-01,2024,1,1
1,c,1,3,"Wilkes, Mrs. James (Ellen Needs)",F,47,1,0,363272,7.0000,NaN,S,0.013663,-0.509664,NaN,2024-01-01,2024,1,1
2,894,0,2,"Myles, Mr. Thomas Francis",m,62,0,0,240276,9.6875,NaN,Q,0.018909,-0.461463,NaN,2024-01-01,2024,1,1
3,895,0,3,"Wirz, Mr. Albert",m,27,0,0,315154,8.6625,NaN,S,0.016908,-0.479847,NaN,2024-01-01,2024,1,1
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",F,22,1,1,3101298,12.2875,NaN,S,0.023984,-0.414832,NaN,2024-01-01,2024,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,1308,0,3,"Ware, Mr. Frederick",m,30,0,0,359309,8.0500,NaN,S,0.015713,-0.490832,NaN,2024-01-01,2024,1,1
417,1309,0,3,"Peter, Master. Michael J",m,30,1,1,2668,22.3583,NaN,C,0.043640,-0.234212,NaN,2024-01-01,2024,1,1
418,895,0,3,"Wirz, Mr. Albert",m,27,0,0,315154,8.6625,NaN,S,0.016908,-0.479847,NaN,2024-01-01,2024,1,1
419,1304,1,3,"Henriksson, Miss. Jenny Lovisa",F,28,0,0,347086,7.7750,NaN,S,0.015176,-0.495764,NaN,2024-01-01,2024,1,1
420,1020,0,2,"Bowenur, Mr. Solomon",m,42,0,0,211535,13.0000,NaN,S,0.025374,-0.402054,NaN,2024-01-01,2024,1,1

#### Identify duplicate rows in the DataFrame.

In [34]:
duplicates = df.duplicated()
print(duplicates.sum())

4

#### Drop duplicate rows.

In [35]:
df_no_duplicates = df.drop_duplicates()

#### Drop duplicate rows based on specific columns.

In [36]:
df_no_duplicates_subset = df.drop_duplicates(subset=['Age', 'Sex'])

#### Convert all string values in a column to lowercase.

In [37]:
df['Name'] = df['Name'].str.lower()
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_normalized,Fare_scaled,cabin_section,synthetic_date,year,month,day
0,892,0,3,"kelly, mr. james",m,34,0,0,330911,7.8292,NaN,Q,0.015282,-0.494792,NaN,2024-01-01,2024,1,1
1,c,1,3,"wilkes, mrs. james (ellen needs)",F,47,1,0,363272,7.0000,NaN,S,0.013663,-0.509664,NaN,2024-01-01,2024,1,1
2,894,0,2,"myles, mr. thomas francis",m,62,0,0,240276,9.6875,NaN,Q,0.018909,-0.461463,NaN,2024-01-01,2024,1,1
3,895,0,3,"wirz, mr. albert",m,27,0,0,315154,8.6625,NaN,S,0.016908,-0.479847,NaN,2024-01-01,2024,1,1
4,896,1,3,"hirvonen, mrs. alexander (helga e lindqvist)",F,22,1,1,3101298,12.2875,NaN,S,0.023984,-0.414832,NaN,2024-01-01,2024,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,1308,0,3,"ware, mr. frederick",m,30,0,0,359309,8.0500,NaN,S,0.015713,-0.490832,NaN,2024-01-01,2024,1,1
417,1309,0,3,"peter, master. michael j",m,30,1,1,2668,22.3583,NaN,C,0.043640,-0.234212,NaN,2024-01-01,2024,1,1
418,895,0,3,"wirz, mr. albert",m,27,0,0,315154,8.6625,NaN,S,0.016908,-0.479847,NaN,2024-01-01,2024,1,1
419,1304,1,3,"henriksson, miss. jenny lovisa",F,28,0,0,347086,7.7750,NaN,S,0.015176,-0.495764,NaN,2024-01-01,2024,1,1
420,1020,0,2,"bowenur, mr. solomon",m,42,0,0,211535,13.0000,NaN,S,0.025374,-0.402054,NaN,2024-01-01,2024,1,1

#### Remove leading and trailing spaces from string values in a column.

In [38]:
df['Name'] = df['Name'].str.strip()
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_normalized,Fare_scaled,cabin_section,synthetic_date,year,month,day
0,892,0,3,"kelly, mr. james",m,34,0,0,330911,7.8292,NaN,Q,0.015282,-0.494792,NaN,2024-01-01,2024,1,1
1,c,1,3,"wilkes, mrs. james (ellen needs)",F,47,1,0,363272,7.0000,NaN,S,0.013663,-0.509664,NaN,2024-01-01,2024,1,1
2,894,0,2,"myles, mr. thomas francis",m,62,0,0,240276,9.6875,NaN,Q,0.018909,-0.461463,NaN,2024-01-01,2024,1,1
3,895,0,3,"wirz, mr. albert",m,27,0,0,315154,8.6625,NaN,S,0.016908,-0.479847,NaN,2024-01-01,2024,1,1
4,896,1,3,"hirvonen, mrs. alexander (helga e lindqvist)",F,22,1,1,3101298,12.2875,NaN,S,0.023984,-0.414832,NaN,2024-01-01,2024,1,1

#### Replace a specific substring in a column with another substring.

In [39]:
df['Sex'] = df['Sex'].str.replace('female', 'F')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_normalized,Fare_scaled,cabin_section,synthetic_date,year,month,day
0,892,0,3,"kelly, mr. james",m,34,0,0,330911,7.8292,NaN,Q,0.015282,-0.494792,NaN,2024-01-01,2024,1,1
1,c,1,3,"wilkes, mrs. james (ellen needs)",F,47,1,0,363272,7.0000,NaN,S,0.013663,-0.509664,NaN,2024-01-01,2024,1,1
2,894,0,2,"myles, mr. thomas francis",m,62,0,0,240276,9.6875,NaN,Q,0.018909,-0.461463,NaN,2024-01-01,2024,1,1
3,895,0,3,"wirz, mr. albert",m,27,0,0,315154,8.6625,NaN,S,0.016908,-0.479847,NaN,2024-01-01,2024,1,1
4,896,1,3,"hirvonen, mrs. alexander (helga e lindqvist)",F,22,1,1,3101298,12.2875,NaN,S,0.023984,-0.414832,NaN,2024-01-01,2024,1,1

#### Extract a substring from each value in a column.

In [40]:
df['cabin_section'] = df['Cabin'].str[:1]
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_normalized,Fare_scaled,cabin_section,synthetic_date,year,month,day
0,892,0,3,"kelly, mr. james",m,34,0,0,330911,7.8292,NaN,Q,0.015282,-0.494792,NaN,2024-01-01,2024,1,1
1,c,1,3,"wilkes, mrs. james (ellen needs)",F,47,1,0,363272,7.0000,NaN,S,0.013663,-0.509664,NaN,2024-01-01,2024,1,1
2,894,0,2,"myles, mr. thomas francis",m,62,0,0,240276,9.6875,NaN,Q,0.018909,-0.461463,NaN,2024-01-01,2024,1,1
3,895,0,3,"wirz, mr. albert",m,27,0,0,315154,8.6625,NaN,S,0.016908,-0.479847,NaN,2024-01-01,2024,1,1
4,896,1,3,"hirvonen, mrs. alexander (helga e lindqvist)",F,22,1,1,3101298,12.2875,NaN,S,0.023984,-0.414832,NaN,2024-01-01,2024,1,1

#### Convert a column to datetime format.

In [59]:
df['synthetic_date'] = pd.to_datetime('2024-01-01')
df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,...,cabin_section,synthetic_date,year,month,day,Sex_F,Sex_m,age_group,family_size,Age_binned
0,892,0,3,"kelly, mr. james",34,0,0,330911,7.8292,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Adult,0,2
1,c,1,3,"wilkes, mrs. james (ellen needs)",47,1,0,363272,7.0000,NaN,...,NaN,2024-01-01,2024,1,1,True,False,Middle-aged,1,3
2,894,0,2,"myles, mr. thomas francis",62,0,0,240276,9.6875,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Senior,0,4
3,895,0,3,"wirz, mr. albert",27,0,0,315154,8.6625,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Adult,0,1
4,896,1,3,"hirvonen, mrs. alexander (helga e lindqvist)",22,1,1,3101298,12.2875,NaN,...,NaN,2024-01-01,2024,1,1,True,False,Adult,2,1

#### Extract year, month, and day from a datetime column.

In [55]:
df['year'] = df['synthetic_date'].dt.year
df['month'] = df['synthetic_date'].dt.month
df['day'] = df['synthetic_date'].dt.day
df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,...,cabin_section,synthetic_date,year,month,day,Sex_F,Sex_m,age_group,family_size,Age_binned
0,892,0,3,"kelly, mr. james",34,0,0,330911,7.8292,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Adult,0,2
1,c,1,3,"wilkes, mrs. james (ellen needs)",47,1,0,363272,7.0000,NaN,...,NaN,2024-01-01,2024,1,1,True,False,Middle-aged,1,3
2,894,0,2,"myles, mr. thomas francis",62,0,0,240276,9.6875,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Senior,0,4
3,895,0,3,"wirz, mr. albert",27,0,0,315154,8.6625,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Adult,0,1
4,896,1,3,"hirvonen, mrs. alexander (helga e lindqvist)",22,1,1,3101298,12.2875,NaN,...,NaN,2024-01-01,2024,1,1,True,False,Adult,2,1

#### Filter rows based on a date range.

In [56]:
date_filtered = df[(df['synthetic_date'] > '2023-01-01') & (df['synthetic_date'] < '2024-12-31')]
date_filtered.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,...,cabin_section,synthetic_date,year,month,day,Sex_F,Sex_m,age_group,family_size,Age_binned
0,892,0,3,"kelly, mr. james",34,0,0,330911,7.8292,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Adult,0,2
1,c,1,3,"wilkes, mrs. james (ellen needs)",47,1,0,363272,7.0000,NaN,...,NaN,2024-01-01,2024,1,1,True,False,Middle-aged,1,3
2,894,0,2,"myles, mr. thomas francis",62,0,0,240276,9.6875,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Senior,0,4
3,895,0,3,"wirz, mr. albert",27,0,0,315154,8.6625,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Adult,0,1
4,896,1,3,"hirvonen, mrs. alexander (helga e lindqvist)",22,1,1,3101298,12.2875,NaN,...,NaN,2024-01-01,2024,1,1,True,False,Adult,2,1

#### Group values in a categorical column and create a new column with grouped categories.

In [60]:
df['age_group'] = pd.cut(df['Age'], bins=[0, 18, 40, 60, 80], labels=['Child', 'Adult', 'Middle-aged', 'Senior'])
df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,...,cabin_section,synthetic_date,year,month,day,Sex_F,Sex_m,age_group,family_size,Age_binned
0,892,0,3,"kelly, mr. james",34,0,0,330911,7.8292,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Adult,0,2
1,c,1,3,"wilkes, mrs. james (ellen needs)",47,1,0,363272,7.0000,NaN,...,NaN,2024-01-01,2024,1,1,True,False,Middle-aged,1,3
2,894,0,2,"myles, mr. thomas francis",62,0,0,240276,9.6875,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Senior,0,4
3,895,0,3,"wirz, mr. albert",27,0,0,315154,8.6625,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Adult,0,1
4,896,1,3,"hirvonen, mrs. alexander (helga e lindqvist)",22,1,1,3101298,12.2875,NaN,...,NaN,2024-01-01,2024,1,1,True,False,Adult,2,1

#### Merge two DataFrames based on a common column.

In [61]:
df_additional = pd.DataFrame({'Name': df['Name'], 'ticket_class': df['Pclass']})
merged_df = pd.merge(df, df_additional, on='Name')
merged_df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,...,synthetic_date,year,month,day,Sex_F,Sex_m,age_group,family_size,Age_binned,ticket_class
0,892,0,3,"kelly, mr. james",34,0,0,330911,7.8292,NaN,...,2024-01-01,2024,1,1,False,True,Adult,0,2,3
1,c,1,3,"wilkes, mrs. james (ellen needs)",47,1,0,363272,7.0000,NaN,...,2024-01-01,2024,1,1,True,False,Middle-aged,1,3,3
2,894,0,2,"myles, mr. thomas francis",62,0,0,240276,9.6875,NaN,...,2024-01-01,2024,1,1,False,True,Senior,0,4,2
3,895,0,3,"wirz, mr. albert",27,0,0,315154,8.6625,NaN,...,2024-01-01,2024,1,1,False,True,Adult,0,1,3
4,895,0,3,"wirz, mr. albert",27,0,0,315154,8.6625,NaN,...,2024-01-01,2024,1,1,False,True,Adult,0,1,3

#### Concatenate two DataFrames vertically.

In [62]:
concatenated_df = pd.concat([df, df])
concatenated_df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,...,cabin_section,synthetic_date,year,month,day,Sex_F,Sex_m,age_group,family_size,Age_binned
0,892,0,3,"kelly, mr. james",34,0,0,330911,7.8292,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Adult,0,2
1,c,1,3,"wilkes, mrs. james (ellen needs)",47,1,0,363272,7.0000,NaN,...,NaN,2024-01-01,2024,1,1,True,False,Middle-aged,1,3
2,894,0,2,"myles, mr. thomas francis",62,0,0,240276,9.6875,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Senior,0,4
3,895,0,3,"wirz, mr. albert",27,0,0,315154,8.6625,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Adult,0,1
4,896,1,3,"hirvonen, mrs. alexander (helga e lindqvist)",22,1,1,3101298,12.2875,NaN,...,NaN,2024-01-01,2024,1,1,True,False,Adult,2,1

#### Concatenate two DataFrames horizontally.

In [63]:
concatenated_df_horizontal = pd.concat([df, df_additional], axis=1)
concatenated_df_horizontal.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,...,year,month,day,Sex_F,Sex_m,age_group,family_size,Age_binned,Name,ticket_class
0,892,0,3,"kelly, mr. james",34,0,0,330911,7.8292,NaN,...,2024,1,1,False,True,Adult,0,2,"kelly, mr. james",3
1,c,1,3,"wilkes, mrs. james (ellen needs)",47,1,0,363272,7.0000,NaN,...,2024,1,1,True,False,Middle-aged,1,3,"wilkes, mrs. james (ellen needs)",3
2,894,0,2,"myles, mr. thomas francis",62,0,0,240276,9.6875,NaN,...,2024,1,1,False,True,Senior,0,4,"myles, mr. thomas francis",2
3,895,0,3,"wirz, mr. albert",27,0,0,315154,8.6625,NaN,...,2024,1,1,False,True,Adult,0,1,"wirz, mr. albert",3
4,896,1,3,"hirvonen, mrs. alexander (helga e lindqvist)",22,1,1,3101298,12.2875,NaN,...,2024,1,1,True,False,Adult,2,1,"hirvonen, mrs. alexander (helga e lindqvist)",3

#### Create a new column based on existing columns.

In [64]:
df['family_size'] = df['SibSp'] + df['Parch']
df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,...,cabin_section,synthetic_date,year,month,day,Sex_F,Sex_m,age_group,family_size,Age_binned
0,892,0,3,"kelly, mr. james",34,0,0,330911,7.8292,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Adult,0,2
1,c,1,3,"wilkes, mrs. james (ellen needs)",47,1,0,363272,7.0000,NaN,...,NaN,2024-01-01,2024,1,1,True,False,Middle-aged,1,3
2,894,0,2,"myles, mr. thomas francis",62,0,0,240276,9.6875,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Senior,0,4
3,895,0,3,"wirz, mr. albert",27,0,0,315154,8.6625,NaN,...,NaN,2024-01-01,2024,1,1,False,True,Adult,0,1
4,896,1,3,"hirvonen, mrs. alexander (helga e lindqvist)",22,1,1,3101298,12.2875,NaN,...,NaN,2024-01-01,2024,1,1,True,False,Adult,2,1

#### Discretize a continuous column into bins.

In [65]:
df['Age_binned'] = pd.cut(df['Age'], bins=5, labels=False)
df[['Age', 'Age_binned']]

     Age  Age_binned
0     34           2
1     47           3
2     62           4
3     27           1
4     22           1
..   ...         ...
416   30           1
417   30           1
418   27           1
419   28           1
420   42           2

[421 rows x 2 columns]