In [5]:
num_rows = int(input("Enter the number of rows"));
k = 1
for i in range(0, num_rows):
    for j in range(0, k):
        print("* ", end="")
    k = k + 1
    print()

Enter the number of rows8
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [10]:
num_rows = int(input("Enter the number of rows"));
for i in range(0, num_rows):
	for j in range(0, num_rows-i-1):
		print(end=" ")
	for j in range(0, i+1):
		print("*", end=" ")
	print()

Enter the number of rows7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [6]:
for i in range(num_rows,0,-1):
    for j in range(0, num_rows-i):
        print(end=" ")
    for j in range(0,i):
        print("* ", end=" ")
    print()

*  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
  *  *  *  *  *  *
   *  *  *  *  *
    *  *  *  *
     *  *  *
      *  *
       *

In [7]:
num_rows = int(input("Enter the number of rows: "))
k = 1
num = 1

for i in range(0, num_rows):
    for j in range(0, k):
        print(num, end=" ")
        num += 1
    k = k + 1
    print()

Enter the number of rows: 10
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36
37 38 39 40 41 42 43 44 45
46 47 48 49 50 51 52 53 54 55

In [9]:
num_rows = int(input("Enter the number of rows: "))

for i in range(0, num_rows):
    # Print leading spaces for center alignment
    for j in range(num_rows - i - 1):
        print(" ", end="")

    # Print letters
    for j in range(0, i + 1):
        print(chr(65 + j), end=" ")

    # Move to the next line
    print()

Enter the number of rows: 7
      A
     A B
    A B C
   A B C D
  A B C D E
 A B C D E F
A B C D E F G