# **Task 15: Data Wrangling: Join, Combine, and Reshape.**

In [1]:
import pandas as pd

### **Q.1 Merge two DataFrames on a single key**

In [3]:
# Create two DataFrames
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value1': [1, 2, 3, 4]})

df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'],
                    'value2': [5, 6, 7, 8]})

# Merge on a single key
merged_df = pd.merge(df1, df2, on='key')
print(merged_df)

  key  value1  value2
0   B       2       5
1   D       4       6

**Q.2 # Merge two DataFrames on multiple keys.**

In [6]:
# Create two DataFrames with multiple keys
df1 = pd.DataFrame({'key1': ['A', 'B', 'C', 'D'],
                    'key2': ['K', 'L', 'M', 'N'],
                    'value1': [1, 2, 3, 4]})

df2 = pd.DataFrame({'key1': ['B', 'D', 'C', 'A'],
                    'key2': ['L', 'N', 'M', 'O'],
                    'value2': [5, 6, 7, 8]})

# Merge on multiple keys
merged_df = pd.merge(df1, df2, on=['key1', 'key2'])
print(merged_df)

  key1 key2  value1  value2
0    B    L       2       5
1    C    M       3       7
2    D    N       4       6

**Q.3 Perform an outer join, inner join, left join, and right join.**

In [12]:
outer_merged_df = pd.merge(df1, df2, on=['key1', 'key2'], how='outer')
print(outer_merged_df)

  key1 key2  value1  value2
0    A    K     1.0     NaN
1    B    L     2.0     5.0
2    C    M     3.0     7.0
3    D    N     4.0     6.0
4    A    O     NaN     8.0

In [13]:
inner_merged_df = pd.merge(df1, df2, on=['key1', 'key2'], how='inner')
print(inner_merged_df)

  key1 key2  value1  value2
0    B    L       2       5
1    C    M       3       7
2    D    N       4       6

In [14]:
left_merged_df = pd.merge(df1, df2, on=['key1', 'key2'], how='left')
print(left_merged_df)

  key1 key2  value1  value2
0    A    K       1     NaN
1    B    L       2     5.0
2    C    M       3     7.0
3    D    N       4     6.0

In [15]:
right_merged_df = pd.merge(df1, df2, on=['key1', 'key2'], how='right')
print(right_merged_df)

  key1 key2  value1  value2
0    B    L     2.0       5
1    D    N     4.0       6
2    C    M     3.0       7
3    A    O     NaN       8

**Q.4 Concatenate two DataFrames along rows.**

In [16]:
df3 = pd.DataFrame({'key': ['G', 'H', 'I', 'J'],
                    'value': [9, 10, 11, 12]})
# Concatenate along rows
concat_df_rows = pd.concat([df1, df3], axis=0)
print(concat_df_rows)

  key1 key2  value1  key  value
0    A    K     1.0  NaN    NaN
1    B    L     2.0  NaN    NaN
2    C    M     3.0  NaN    NaN
3    D    N     4.0  NaN    NaN
0  NaN  NaN     NaN    G    9.0
1  NaN  NaN     NaN    H   10.0
2  NaN  NaN     NaN    I   11.0
3  NaN  NaN     NaN    J   12.0

**Q.5 Concatenate two DataFrames along columns**

In [17]:
df4 = pd.DataFrame({'value3': [13, 14, 15, 16]})

# Concatenate along columns
concat_df_cols = pd.concat([df1, df4], axis=1)
print(concat_df_cols)

  key1 key2  value1  value3
0    A    K       1      13
1    B    L       2      14
2    C    M       3      15
3    D    N       4      16

**Q.6 Concatenate a list of DataFrames**

In [18]:
dfs = [df1, df3, df4]
# Concatenate list of DataFrames
concat_list_df = pd.concat(dfs, axis=0, ignore_index=True)
print(concat_list_df)

   key1 key2  value1  key  value  value3
0     A    K     1.0  NaN    NaN     NaN
1     B    L     2.0  NaN    NaN     NaN
2     C    M     3.0  NaN    NaN     NaN
3     D    N     4.0  NaN    NaN     NaN
4   NaN  NaN     NaN    G    9.0     NaN
5   NaN  NaN     NaN    H   10.0     NaN
6   NaN  NaN     NaN    I   11.0     NaN
7   NaN  NaN     NaN    J   12.0     NaN
8   NaN  NaN     NaN  NaN    NaN    13.0
9   NaN  NaN     NaN  NaN    NaN    14.0
10  NaN  NaN     NaN  NaN    NaN    15.0
11  NaN  NaN     NaN  NaN    NaN    16.0

**Q.7 Reshape data using the melt function to go from wide to long format**

In [21]:
# Create a wide DataFrame
df_wide = pd.DataFrame({
    'id': [1, 2, 3],
    'A': [10, 20, 30],
    'B': [40, 50, 60]
})
# Melt the DataFrame
df_long = pd.melt(df_wide, id_vars=['id'], value_vars=['A', 'B'],
                  var_name='variable', value_name='value')
print(df_long)

   id variable  value
0   1        A     10
1   2        A     20
2   3        A     30
3   1        B     40
4   2        B     50
5   3        B     60

**Q.8 Create a pivot table to summarize data**

In [22]:
# Create a DataFrame
df = pd.DataFrame({
    'category': ['A', 'B', 'A', 'B'],
    'values': [10, 20, 30, 40]
})
# Create a pivot table
pivot_df = pd.pivot_table(df, values='values', index='category',
                          aggfunc='sum')
print(pivot_df)

          values
category
A             40
B             60

**Q.9 Group data by one or more columns and perform aggregation functions (e.g., sum, mean, count)**

In [23]:
# Create a DataFrame
df = pd.DataFrame({
    'category': ['A', 'B', 'A', 'B', 'C'],
    'values': [10, 20, 30, 40, 50]
})
# Group by category and calculate the sum
grouped_sum = df.groupby('category').sum()
print(grouped_sum)

# Group by category and calculate the mean
grouped_mean = df.groupby('category').mean()
print(grouped_mean)

# Group by category and count the number of occurrences
grouped_count = df.groupby('category').count()
print(grouped_count)

          values
category
A             40
B             60
C             50
          values
category
A           20.0
B           30.0
C           50.0
          values
category
A              2
B              2
C              1

**Q.10 Apply multiple aggregation functions to grouped data**

In [24]:
# Group by category and apply multiple aggregation functions
grouped_agg = df.groupby('category').agg(['sum', 'mean', 'count'])
print(grouped_agg)

         values
            sum  mean count
category
A            40  20.0     2
B            60  30.0     2
C            50  50.0     1

**Q.11 Use the groupby function to group data and apply custom functions**

In [25]:
# Define a custom function
def custom_function(x):
    return x.max() - x.min()

# Group by category and apply the custom function
grouped_custom = df.groupby('category')['values'].apply(custom_function)
print(grouped_custom)

category
A    20
B    20
C     0
Name: values, dtype: int64